/* Reset básico */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Instrument Sans', sans-serif;
  background: linear-gradient(135deg, #f0f9ff, #c2e9fb); /* Fundo com gradiente suave */
  height: 100vh;
  align-items: center;
  justify-content: center;
}
  
  /* Container principal */
  .container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }
  
  /* Logo */
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo img {
    width: 300px;
    height: 300px;
    transition: transform 0.3s ease; /* Transição suave para o efeito de transformação */
}

.logo img:hover {
    transform: scale(1.05); /* Aumenta o tamanho da imagem em 5% ao passar o mouse */
}


.logo h1 {
  font-size: 36px; 
  color: #333;
  margin-top: 10px;
  font-weight: bold; 
}

  
  /* Formulário */
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .login-form label {
    font-size: 18px; /* Fonte um pouco maior para melhorar a leitura */
    text-align: left;
    color: #2F7580; /* Azul escuro */
    font-weight: bold;
}

.login-form input {
  padding: 15px;
  font-size: 18px; /* Fonte maior para melhorar a usabilidade */
  border: 2px solid #A5D4FB;
  border-radius: 10px;
  background-color: #f7f9fc;
  transition: all 0.3s ease;
}

.login-form input:focus {
  border-color: #2F7580;
  box-shadow: 0 0 8px rgba(47, 117, 128, 0.5);
  outline: none;
}

.login-form button {
  padding: 15px;
  font-size: 18px; /* Fonte maior para o botão */
  background: linear-gradient(135deg, #131414, #2F7580);
  color: #ffffff;
  border: none;
  border-radius: 25px; 
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.3s ease; 
}

.login-form button:hover {
  transform: scale(1.05); 
}
  
  /* Cadastro link */
  .cadastro {
    margin-top: 10px;
  }
  
  .cadastro p {
    font-size: 14px;
  }
  
  .cadastro a {
    color: #000000;
    text-decoration: underline black;
  }
  
  .cadastro a:hover {
    color: #006d6f;
    text-decoration: underline;
}